<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Details</title>
</head>
<body>
    Video Name  : <%= data.name %> <br>
    Duration    : <%= time(data.duration) %> <br> 
    Video Url   : <%= data.videoUrl %> <br>
    Updated at  : <%= data.createdAt %> <br>
    
    list of Students
    <ul>
    <% data.studentCourse.forEach((e,i)=>{ %>
    <li><%= e.username %> </li>
   <% }) %> 
</ul>
    description: <%= data.description %> 

</body>
</html>