<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BelajarDesign</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <script src="/scripts/chart.js"></script>
  </head>
  <body style="background-color: darkorange">
    <nav class="navbar has-background-dark" >
        <div class="container">
            <div class="navbar-start">
                <p class="navbar-item " href="/" style="font-weight: bolder; color: white;">BelajarDesign</p> <br />
              </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-success" href="/students/home">Home</a> <br />
                  <a class="button is-danger" href="/logout"">Logout</a> <br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 10px;
      "
    >
    
      <div
        style="
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          height: 100%;
        "
      >
      <p class="title" style="color: whitesmoke;">-Course Detail-</p>
        <div
          style="
            background-color: white;
            margin: 0px 80px;
            padding: 30px 80px;
            border-radius: 20px;
          "
        >
        <div style="display: flex; justify-content: space-between;">
            <div style="width: 50%;">
                <h4><b>Video Name: </b><%= data.name %></h4>
                <h4><b>Duration: </b><%= time(data.duration) %></h4>
                <h4><b>Video Url : </b><%= data.videoUrl %></h4>
                <h4><b>Updated at: </b><%= data.createdAt %></h4>
                <b>Description: </b>
                <h4><%= data.description %></h4>
                <h2 style="margin-top: 20px;"><b>Student List:</b></h2>
                <table class="table">
                  <tr>
                      <td>ID</td>
                      <td>Name</td>
                      <td>Email</td>
                  </tr>
                  <% data.studentCourse.forEach(e => { %>
                      <tr>
                          <td><%= e.id %></td>
                          <td><%= e.username %></td>
                          <td><%= e.email %></td>
                      </tr>
                  <% }) %>
              </table>
            </div>
            <div>
                <div id="script" class="chart-container" style="position: relative; height:400px; width:400px" data=<%-JSON.stringify(chart)%>>
                    <h4 class="title">Statistik Gender Students</h4>
                    <canvas id="myChart" width="60" height="60"></canvas>
                </div>
            </div>
        </div>
      <script>
        let data = <%-JSON.stringify(chart)%>;
        const ctx = document.getElementById('myChart');
        const myChart = new Chart(ctx, {
            type: 'pie',
            data
        });
      </script>
        </div>
      </div>
    </div>
  </body>
</html>

