<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BelajarDesign</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
  </head>
  <body style="background-color: darkorange">
    <nav class="navbar has-background-dark" >
        <div class="container">
            <div class="navbar-start">
                <p class="navbar-item " href="/" style="font-weight: bolder; color: white;">BelajarDesign</p> <br />
              </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-success" href="/teachers/courses">Home</a> <br />
                  <a class="button is-danger" href="/logout"">Logout</a> <br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      "
    >
      <div
        style="
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          height: 100vh;
        "
      >
      <p class="title" style="color: whitesmoke;">-Edit Courses-</p>
        <div
          style="
            background-color: white;
            margin: 0px 30px;
            padding: 30px 80px;
            border-radius: 20px;
          "
        >
        <form action="/teachers/courses/<%= data.id %>/edit" method="post">
            <div class="field">
                <label class="label">Course Name</label>
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    placeholder="Course Name"
                    name="name"
                    value="<%= data.name %>"
                  />
                </div>
            </div>

            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <textarea class="textarea" name="description" placeholder="Desc"><%= data.description %></textarea>
                </div>
            </div>

            <label class="label">Duration</label>
            <div class="field has-addons">    
                <p class="control">
                  <input class="input" type="number" name="duration" value="<%= data.duration %>">
                </p>
                <p class="control">
                  <a class="button is-static">
                    Seconds
                  </a>
                </p>
            </div>

            <div class="field">
                <label class="label">Video Url</label>
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    name="videoUrl"
                    value="<%= data.videoUrl %>
                  />
                </div>
            </div>

            <div class="field">
                <label class="label">Category</label>
                <div class="control">
                  <div class="select">
                    <select name="CategoryId" >
                        <% category.forEach(e=>{ %>
                            <option value="<%= e.id%>" <%= e.id === data.CategoryId?'selected':'' %> ><%= e.name %></option>
                       <% }) %> 
                    </select><br>
                  </div>
                </div>
              </div>
            </div>
            <button class="button is-link" type="submit">Update Course</button>        
        </form>
        
        <% if (errors) { %>
            <ul>
              <% errors.forEach(e => { %>
              <li style="color: red;"><%= e %> </li>
              <% }) %>
            </ul>
            <% } %>

        </div>
      </div>
    </div>
  </body>
</html>

