<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <H2><%= courseData.name %></H2><br />
    <iframe
      width="420"
      height="315"
      src="<%= courseData.videoUrl %>"
    >
    </iframe><br/>
    <p><%= `Created By: ${courseData.teacherCourse.username}` %></p>
    <p><%= `Duration: ${getFormattedTime(courseData.duration)}` %></p>
    <p><%= courseData.description %></p>
  </body>
</html>
